body{
	background-color: navy;
}
li a{
	color:white;
}

.navbar-brand{
	
	font-size: 50px;
	font-family: 'MedievalSharp', cursive;
}

.navbar-inverse .navbar-brand {
	color: crimson;
	
}

.eachMovie{
	background-color:navy;
	padding:5px 0 0 5px;
	position:relative;
	overflow: hidden;
}

img:hover{
	-moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

img{
	max-width: 250px;
	color:navy;
}


